table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .example-container
  {
    margin-top: 80px;
  }
  .mat-header-cell
  {

    font-size: 15px;
    background: #28a745;
    font-weight: bold;
    color: #fff;
    text-align: center;

  }
  .no-records
  {
    min-height: 100px;
    background: #fff;
    text-align: center;
    padding: 20px;
    color: #7b7777;
  }
    td.mat-cell{
    text-align: center;
  }
  button
  {
    margin-right: 2px;
  }